/* Tombol modern putih tanpa aturan ukuran */
.modern-btn {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #2c2c2c;

    /* Hilangkan gaya jadul */
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

    /* bentuk modern */

    /* karena aku menggunakan tema tegas, maka tombolnya harus kotak! */
    /* -fx-background-radius: 8; */

    /* Shadow kecil yang tidak mengubah size */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.12), 8, 0, 0, 0);
}

/* Hover */
.modern-btn:hover {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 10, 0, 0, 0);
}

/* Pressed */
.modern-btn:pressed {
    -fx-background-color: #f5f5f5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 6, 0, 0, 0);
}