.top-bar-styling {
    -fx-background-color:  linear-gradient(to bottom right, #01AA71, #018558);
    -fx-effect:  dropshadow(three-pass-box, rgba(1, 170, 113, 0.3), 15, 0, 0, 5);
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.text-field-helper {
    -fx-text-fill: #6B7280;
    -fx-font-size: 13;
}

.filter-text-field {
    -fx-font-weight: bold;
    -fx-letter-spacing: 1;
}


/* langsung target ke node! */
.menu-button {
    -fx-background-color: white;
    -fx-border-color: #E5E7EB;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-text-fill: #374151;
}

.menu-item {
    -fx-padding: 2 0 2 0;
    /* -fx-pref-height: 40px; */
}

/*
 1. Atur semua cell (dropdown & terpilih) ke padding default dulu
.combo-box .list-cell {
    -fx-font-size: 12px;
    -fx-padding: 5 0 5 5;
}

2. KHUSUS untuk item yang ada di dalam list dropdown (saat dibuka)
.combo-box-popup .list-view .list-cell {
    -fx-padding: 5 0 5 20;
}

3. KHUSUS untuk tampilan item yang sudah terpilih (di kotaknya)
.combo-box > .list-cell {
    -fx-padding: 5 0 5 5;
}
*/

.combo-box-popup .list-view .list-cell {
    /* -fx-pref-height: 20px; */
    -fx-padding: 5 0 5 20; /* top right bottom left */
    -fx-font-size: 12px;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: #E5E7EB;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-text-fill: #374151;
}

.context-menu {
    -fx-background-color: white;
    -fx-border-color: #E5E7EB;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

/* ComboBox popup */
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #E5E7EB;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.menu-button .context-menu {
    -fx-max-height: 400px;
}

.menu-button .context-menu .scroll-pane {
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: never;
}

.menu-button .context-menu .scroll-pane .content {
    -fx-background-color: white;
}