.record-card {
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #E5E7EB;
    -fx-padding: 12;
    -fx-cursor: hand;

    -fx-scale-x: 1;
    -fx-scale-y: 1;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.04), 6, 0, 0, 2);
}

.record-card:hover {
    -fx-background-color: #F9FAFB;
    -fx-border-color: #D1D5DB;

    /* naik dikit */
    -fx-scale-x: 1.005;
    -fx-scale-y: 1.005;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.10), 14, 0, 0, 6);
}

/*
.record-card:pressed {
    -fx-background-color: #F3F4F6;
    -fx-scale-x: 0.985;
    -fx-scale-y: 0.985;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.02), 4, 0, 0, 1);
}
*/